bmp/
exe/
esporta/
foreign_arcdit_mysql/
function_arcdit_mysql/
importa/
report/
share/
stili/
stored_procedure_arc_mysql/
stored_procedure_arcdit_mysql/
trigger_arcdit_mysql/
temp/
go_releas*
src_original*        
src_12*
documenti_*
*.rc
*.res
*.dproj
*.local
*.skincfg
*.bak
*.dsk
*.identcache
*.bat
*.o
*.deployproj
*.xml
*.so
*.dcu

src - Copia/
italmodular/
*.drc
*.map
stampe/

